<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title id="title">Your Cart</title>
</head>

<body>
<header th:replace="fragments/header :: header(${customer})"></header>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="#">Home</a></li>
                <li class="active">Shopping Cart</li>
            </ol>
        </div>
        <div class="table-responsive cart_info">
            <div th:class="${alert}">
                <strong th:text="${message}"></strong>
            </div>
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${entry}">
                    <td class="cart_product">
                        <a href=""><img th:src="@{'/resourcesAdmin/images/home/' + ${entry.getKey().getImage()}}"
                                        alt="" width="180" height="180"></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="#" th:text="${entry.getKey().getProductName()}"></a></h4>
                        <p th:text="${'Web ID:' + entry.getKey().getIdProduct()}"></p>
                    </td>
                    <td class="cart_price">
                        <p th:text="${'$' + entry.getKey().getPrice()}"></p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" th:href="@{'/plusProduct/' + ${(entry.getKey().getIdProduct()*4+74)/2}}"> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity"
                                   th:value="${entry.getValue()}" autocomplete="off"
                                   size="2" readonly>
                            <a class="cart_quantity_down" th:href="@{'/minusProduct/' + ${(entry.getKey().getIdProduct()*4+74)/2}}"> - </a>
                        </div>
                        <br><br>
                        <p th:text="${'Available: ' + entry.getKey().getAmount()}"></p>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price" th:text="${entry.getKey().getPrice() * entry.getValue()}"></p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete"
                           th:href="@{'/removeProduct/' + ${(entry.getKey().getIdProduct()*4+74)/2} + '/' + ${(idCart.getIdCart()*4+74)/2}}"><i
                                class="fa fa-times"></i></a>
                    </td>
                </tr>
                <tr>
                    <td><a class="btn btn-default update" href="/home">Continue Shopping</a></td>
                    <td><a class="btn btn-default update" href="/removeCart"
                           onclick="return confirm('Are Your Sure ?')">Remove Cart</a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section> <!--/#cart_items-->

<section id="do_action">
    <div class="container">
        <div class="row">
            <div class="col-sm-6">
                <div class="total_area">
                    <ul>
                        <li>Cart Sub Total <span th:text="${total}"></span></li>
                        <li>Eco Tax <span th:text="${total/10}"></span></li>
                        <li>Shipping Cost <span>Free</span></li>
                        <li>Total <span th:text="${total + total/10}"></span></li>
                    </ul>
                    <a class="btn btn-default check_out" href="/checkoutView">Check Out</a>
                </div>
            </div>
        </div>
    </div>
</section><!--/#do_action-->
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/header :: script"></div>
</body>
</html>