<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title id="title">Checkout</title>
</head>

<body>
<header th:replace="fragments/header :: header(${customer})"></header>
<section id="cart_items">
    <div class="container">
        <div class="breadcrumbs">
            <ol class="breadcrumb">
                <li><a href="/home">Home</a></li>
                <li class="active">Check out</li>
            </ol>
        </div>

        <!--/register-req-->

        <div class="shopper-informations">
            <div class="row">
                <div class="col-sm-3">
                    <div class="shopper-info">
                        <p>Shopper Information</p>
                        <form action="#" method="post">
                            <input type="text" placeholder="Your name" name="yourname"
                                   required="required"> <input type="text"
                                                               placeholder="Phone Number" name="phone" required="required">
                            <input type="email" placeholder="Email" name="email"
                                   required="required"> <input type="text"
                                                               placeholder="Address" name="address" required="required">
                            <input type="hidden" name="total" value=""> <a
                                class="btn btn-primary"
                                href="#">Cancel
                            Purchase</a>
                            <button class="btn btn-primary" type="submit" name="command"
                                    value="checkOut">Payment Confirm</button>
                            <br>
                            <br>
<!--                            <c:if test="${not empty message}">-->
                            <!--                                <div class="alert alert-${alert}">-->
                            <!--                                    <strong>${message}</strong>-->
                            <!--                                </div>-->
                            <!--                            </c:if>-->
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="review-payment">
            <h2>Review & Payment</h2>
        </div>

        <div class="table-responsive cart_info">
<!--            <div th:class="${alert}">-->
            <!--                <strong th:text="${message}"></strong>-->
            <!--            </div>-->
            <table class="table table-condensed">
                <thead>
                <tr class="cart_menu">
                    <td class="image">Item</td>
                    <td class="description"></td>
                    <td class="price">Price</td>
                    <td class="quantity">Quantity</td>
                    <td class="total">Total</td>
                    <td></td>
                </tr>
                </thead>
                <tbody>
                <tr th:each="entry : ${entry}">
                    <td class="cart_product">
                        <a href=""><img th:src="@{'/resourcesAdmin/images/home/' + ${entry.getKey().getImage()}}"
                                        alt="" width="180" height="180"></a>
                    </td>
                    <td class="cart_description">
                        <h4><a href="#" th:text="${entry.getKey().getProductName()}"></a></h4>
                        <p th:text="${'Web ID:' + entry.getKey().getIdProduct()}"></p>
                    </td>
                    <td class="cart_price">
                        <p th:text="${'$' + entry.getKey().getPrice()}"></p>
                    </td>
                    <td class="cart_quantity">
                        <div class="cart_quantity_button">
                            <a class="cart_quantity_up" th:href="@{'/plusProduct/' + ${(entry.getKey().getIdProduct()*4+74)/2}}"> + </a>
                            <input class="cart_quantity_input" type="text" name="quantity"
                                   th:value="${entry.getValue()}" autocomplete="off"
                                   size="2" readonly>
                            <a class="cart_quantity_down" th:href="@{'/minusProduct/' + ${(entry.getKey().getIdProduct()*4+74)/2}}"> - </a>
                        </div>
                        <br><br>
                        <p th:text="${'Available: ' + entry.getKey().getAmount()}"></p>
                    </td>
                    <td class="cart_total">
                        <p class="cart_total_price" th:text="${entry.getKey().getPrice() * entry.getValue()}"></p>
                    </td>
                    <td class="cart_delete">
                        <a class="cart_quantity_delete"
                           th:href="@{'/removeProduct/' + ${(entry.getKey().getIdProduct()*4+74)/2} + '/' + ${(idCart.getIdCart()*4+74)/2}}"><i
                                class="fa fa-times"></i></a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/header :: script"></div>
</body>
</html>