<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title id="title">Home | E-Shopper</title>
</head>

<body>
<header th:replace="fragments/header :: header(${customer})"></header>
<section th:replace="fragments/slider :: slider"></section>
<section>
    <div class="container">
        <div class="row">
            <div th:replace="fragments/category :: category(list=${categoryList})"></div>
            <div th:replace="fragments/products :: products(list=${productList}, categoryName=${categoryName}, productName=${productName})"></div>
        </div>
    </div>
</section>
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/header :: script"></div>
</body>
</html>