<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
    <title id="title">Reset Password</title>
</head>

<body>
<header th:replace="fragments/header :: header(${customer})"></header>
<section id="form"><!--form-->
    <div class="container">
        <div class="row">
            <div class="col-sm-4 col-sm-offset-1">
                <div class="login-form">
                    <form action="/resetPassword" method="post">
                        <input type="email" placeholder="Enter your email address" name="emailCustomer" required/>
                        <button type="submit" class="btn btn-default">Send Request</button>
                        <br>
                        <div th:class="${alert}">
                            <strong th:text="${message}"></strong>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!--/form-->
<footer th:replace="fragments/footer :: footer"></footer>
<div th:replace="fragments/header :: script"></div>
</body>
</html>