<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: head">
    <title id="title">Admin List</title>
</head>
<body class="sb-nav-fixed">
<nav th:replace="admin/fragments/header :: header(id=${admin.getIdAdmin()})">
    <div id="username" th:text="${'Hello ' + admin.getUsernameAdmin()}"></div>
</nav>
<div id="layoutSidenav">
    <div th:replace="admin/fragments/menu :: menu"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Admins</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/admin/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Admin List</li>
                </ol>
                <div th:class="${alert}">
                    <strong th:text="${message}"></strong>
                </div>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Admin accounts</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Username</th>
                                    <th>Email</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="admin : ${adminList}">
                                    <td th:text="${admin.getIdAdmin()}"></td>
                                    <td th:text="${admin.getUsernameAdmin()}"></td>
                                    <td th:text="${admin.getEmailAdmin()}"></td>
                                    <td><a th:href="@{'/admin/editAdminView/' + ${(admin.getIdAdmin()*4+74)/2}}">Edit</a></td>
                                    <td><a th:href="@{'/admin/removeAdmin/' + ${(admin.getIdAdmin()*4+74)/2}}">Remove</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer th:replace="admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div th:replace="admin/fragments/header :: script"></div>
</body>
</html>