<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="admin/fragments/header :: head">
    <title id="title">Product List</title>
</head>
<body class="sb-nav-fixed">
<nav th:replace="admin/fragments/header :: header(id=${admin.getIdAdmin()})">
    <div id="username" th:text="${'Hello ' + admin.getUsernameAdmin()}"></div>
</nav>
<div id="layoutSidenav">
    <div th:replace="admin/fragments/menu :: menu"></div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">Products</h1>
                <ol class="breadcrumb mb-4">
                    <li class="breadcrumb-item"><a href="/admin/admin">Dashboard</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ol>
                <div class="card mb-4">
                    <div class="card-header"><i class="fas fa-table mr-1"></i>Products</div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    <th>Image</th>
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                                </thead>
                                <tfoot>
                                <tr>
                                    <th>ID</th>
                                    <th>Product Name</th>
                                    <th>Image</th>
                                    <th>Amount</th>
                                    <th>Price</th>
                                    <th>Category</th>
                                    <th>Description</th>
                                    <th>Status</th>
                                    <th>Edit</th>
                                    <th>Remove</th>
                                </tr>
                                </tfoot>
                                <tbody>
                                <tr th:each="product : ${productList}">
                                    <td th:text="${product.getIdProduct()}"></td>
                                    <td th:text="${product.getProductName()}"></td>
                                    <td><img th:src="@{'/resourcesAdmin/images/home/' + ${product.getImage()}}"
                                             width="180" height="180"/></td>
                                    <td th:text="${product.getAmount()}"></td>
                                    <td th:text="${'$' + product.getPrice()}"></td>
                                    <td th:text="${product.getIdCategory().toString()}"></td>
                                    <td th:text="${product.getDescription()}"></td>
                                    <td th:text="${product.getStatus()}"></td>
                                    <td>
                                        <a th:href="@{'/admin/insertUpdateProductView/' + ${(product.getIdProduct()*4+74)/2}}">Edit</a>
                                    </td>
                                    <td><a th:href="@{'/admin/removeProduct/' + ${(product.getIdProduct()*4+74)/2}}">Remove</a></td>
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <form method="get" action="/admin/insertNewProduct">
                    <div class="form-row">
                        <div class="form-group">
                            <button class="btn btn-primary btn-block" type="submit">Add new Product</button>
                        </div>
                    </div>
                </form>
            </div>
        </main>
        <footer th:replace="admin/fragments/footer :: footer"></footer>
    </div>
</div>
<div th:replace="admin/fragments/header :: script"></div>
</body>
</html>