<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/header :: head">
</head>
<body>
<div class="login-form" th:fragment="loginUserForm(message, alert, emailCustomer, passwordCustomer)"><!--login form-->
    <h2>Login to your account</h2>
    <form action="/loginCustomer" method="post">
        <input type="email" placeholder="Enter your email address" name="emailCustomer" th:value="${emailCustomer}"/>
        <input type="password" placeholder="Enter your password" name="passwordCustomer" th:value="${passwordCustomer}"/>
        <span>
								<input type="checkbox" class="checkbox" name="rememberCustomer" th:checked="${emailCustomer.length() > 0}">
								Keep me signed in
							</span>
        <button type="submit" class="btn btn-default">Login</button>
        <br>
        <div th:class="${alert}">
            <strong th:text="${message}"></strong>
        </div>
    </form>
</div><!--/login form-->
</body>
</html>